body {

    background-image: url("../img/perros_opaco.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/*BACKGROUND COLOR:
background: #FED336;
background: linear-gradient(90deg, rgba(254, 211, 54, 1) 0%, rgba(1, 195, 124, 1) 50%, rgba(220, 105, 42, 1) 100%);*/

.container {
    width: 350px;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-content: center;
    align-items: center;
    text-align: center;
}



h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    display: flex;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5px;
}


button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
}


button:hover {
    background: #333;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

form p {
    display: block;
    margin: 0 0 15px 0;
    padding: 0;
    align-content: center;
    align-items: center;
    text-align: center;
}

form input {
    display: block;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: -8px;
}

.img-perro {
    height: 200px;
    object-fit: cover;
}

.card-title {
    min-height: 3.5rem;   /* ajusta si quieres */
    line-height: 1.2;
}

h2.card-title {
    min-height: 5.5rem;   /* ajustable */
    line-height: 1.2;
}
