{% extends "base.html" %}

{% block title %}Elemento{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2>
        {% if perro %}Editar{% else %}Nuevo{% endif %} Elemento
    </h2>

    <div class="card p-4 shadow-sm">

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" name="name"
                       class="form-control"
                       value="{{ perro.name|default:'' }}"
                       required>
            </div>

            <div class="mb-3">
                <label class="form-label">URL Imagen</label>
                <input type="text" name="image_url"
                       class="form-control"
                       value="{{ perro.image_url|default:'' }}">
            </div>

            <div class="mb-3">
                <label class="form-label">Origen</label>
                <input type="text" name="origin"
                       class="form-control"
                       value="{{ perro.origin|default:'' }}">
            </div>

            <div class="mb-3">
                <label class="form-label">Grupo</label>
                <input type="text" name="breed_group"
                       class="form-control"
                       value="{{ perro.breed_group|default:'' }}">
            </div>

            <div class="mb-3">
                <label class="form-label">Esperanza de vida</label>
                <input type="text" name="life_span_category"
                       class="form-control"
                       value="{{ perro.life_span_category|default:'' }}">
            </div>

            <button class="btn btn-success">
                Guardar
            </button>

            <a href="{% url 'admin_elementos_list' %}"
               class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}
